@model ML.RecetasMedicas
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-lg-start">
    <h2>Usuario</h2>
    <h5>Ingrese los datos del usuario</h5>
</div>
<hr />
@using (Html.BeginForm("Form", "Recetas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(Model => Model.IdReceta)

    <div class="container text-center">
        <div class="row justify-content-evenly">

            <div class="col-4">
                <div class="row mb-4">
                    @* <div class="col-md-6">
                        @Html.LabelFor(model => Model.Paciente.IdPaciente, new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.Paciente.IdPaciente, new { @class = "form-control hidden" })
                    </div> *@
                    <div class="row mb-4">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.Paciente.IdPaciente, new { @class = "hidden" })
                            @Html.DropDownListFor(model => Model.Paciente.IdPaciente, new SelectList(Model.Paciente.Pacientes, "IdPaciente", "Nombre"), "Selecciona el Paciente correspondiente", new { @class = "form-select hidden" })
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        @Html.LabelFor(model => Model.Diagnostico, new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.Diagnostico, new { @class = "form-control hidden" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        @Html.LabelFor(model => Model.NotasAdicionales , new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.NotasAdicionales, new { @class = "form-control hidden" })
                    </div>
                </div>
            </div>
            <div class="col-4">
                

                <div class="row mb-4">
                    <div class="col-md-6">
                        @Html.LabelFor(model => Model.FechaDeconsulta, new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.FechaDeconsulta, new { @class = "form-control hidden" , @type = "date" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        @Html.LabelFor(model => Model.NombreMedico, new { @class = "hidden" })
                        @Html.TextBoxFor(model => Model.NombreMedico, new { @class = "form-control hidden" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        <a id="btnCancelar" class="btn btn-danger" href="@Url.Action("GetAll", "Departamento")"><i class="fa-solid fa-right-from-bracket"></i> Volver</a>
    </div>
}



